services:
  db:
    image: postgres:16
    container_name: postgres-db
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: db
    ports:
      - "5432:5432"
    volumes:
      - ./db-data:/var/lib/postgresql/data

  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    container_name: blog-backend
    restart: always
    environment:
      SPRING_PROFILES_ACTIVE: docker
    depends_on:
      - db
    ports:
      - "8080:8080"

  frontend:
    build: 
      context: ./frontend
      dockerfile: Dockerfile
    container_name: blog-frontend
    restart: always
    ports:
      - "3000:80"
    depends_on:
      - backend

